---
import UICard from "../ui/UICard.astro";
interface Props {
  url: string;
}

const { url }: Props = Astro.props;
---

<a class="navigation-menu-item" href={url}>
  <UICard isWithHover>
    <div class="navigation-menu-item__title">
      <slot name="title" />
    </div>
    <div class="navigation-menu-item__description">
      <slot name="description" />
    </div>
  </UICard>
</a>

<style lang="scss">
  .navigation-menu-item {
    text-decoration: none;
    color: inherit;
    display: block;
  
    &__title {
       font-size: 32px;
       font-weight: 500;
     }

    &__description {
       margin-top: 12px;
       font-size: 14px;
       line-height: 1.4;
     }
  }
</style>