.post-content {
  code {
    @include font-jetbrains;
  }
  
  p > code,
  li > code,
  td > code {
    display: inline-block;
    color: var(--color-red);
    padding: 2px 4px;
    line-height: 1;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid var(--neutral);
  }
}