/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2);
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4.5px;
  height: 4.5px;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  background: var(--neutral);
  border-radius: 4px;
}