.post-content {
  table {
    @include default-ui-color;
    border: 1px solid grey;
    font-size: var(--fz-text);
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }

  table thead th,
  table tfoot th {
    @include default-ui-color;

    // Adaptive for mobile fonts
    font-size: var(--fz-text);
    word-wrap: normal;
  }

  table caption {
    padding: 0.5em;
  }

  table th,
  table td {
    padding: 0.5em;
    border: 1px solid var(--neutral);
  }
}
