*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;

  &_full {
    min-height: 100vh;
  }

  &_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.r-link {
  color: inherit;
  text-decoration: none;
}