---
import type { Link } from "@data/links";
interface Props {
  link: Link
}
const {link} = Astro.props;
---

<a
  class="link-item"
  href={link.url}
  target="_blank"
  class="link-item__link"
>
  <div class="link-item__name">
    {link.name}
  </div>
  {
    link?.description && (
      <div class="link-item__description">
        {link.description}
      </div>
    )
  }
</a>


<style lang="scss">
  .link-item {
    display: block;
    color: inherit;
    text-decoration: none;
  
    &__name {
       font-weight: 500;
       font-size: 16px;
       color: var(--link);
    }
     
    &__description {
       display: block;
       margin-top: 8px;
       font-size: 14px;
    }
  }
</style>