---
import { LinkSection } from "../../data/links";
import LinkSectionItem from "./LinkSectionItem.astro";
import UISubtitle from "../ui/UISubtitle.astro";
interface Props {
  section: LinkSection
}
const {section} = Astro.props;
---

<div class="link-section">
  <div class="link-section__title">
    <UISubtitle>
      { section.name }
    </UISubtitle>
  </div>
  <ul class="link-section__list">
    {
      section.child.map(child => {
        return (
          <li class="link-section__item">
            <LinkSectionItem link={child} />
          </li>
        );
      })
    }
  </ul>
</div>

<style lang="scss">
  .link-section {
    &__title {
      margin-top: 24px;
    }
     
    &__list {
      list-style: none;
      padding-left: 1.5rem;
      margin-top: 18px;
    }
     
    &__item {
      position: relative;
     
      &:not(:first-child) {
        margin-top: 12px;
      }
       
      &::before {
        content: '—';
        position: absolute;
        top: 50%;
        left: -1rem;
        transform: translateY(-50%);
      }
    }
  }
</style>