---
import FullLayout from "@l/FullLayout.astro";
import linkList from "@data/links";
import UITitle from "@@/ui/UITitle.astro";
import LinkSection from "@@/link-section/LinkSection.astro";
import UIText from "@@/ui/UIText.astro";

const PAGE_TITLE = 'Ссылки';
const PAGE_DESCRIPTION = `В данном разделе описаны ссылки, которые часто пригождались мне во время разработки. Здесь находятся все ссылки, которые я собрал во время разработки продуктов начиная от создания дизайна и заканчивая деплоем.
Я специально рассортировал их в порядке создания продукта: от архитектуры и создания дизайна до выпуска в продакшен (деплой).`;
---

<FullLayout>
  <div class="link-page">
    <UITitle>{ PAGE_TITLE }</UITitle>
    <div class="link-page__text">
      <UIText>
        {PAGE_DESCRIPTION}
      </UIText>
    </div>
    {
      linkList.map(section =>
        (
          <LinkSection
            section={section}
          />
        )
      )
    }
  </div>
</FullLayout>

<style lang="scss">
  .link-page {
    padding: 32px 0;

    &__text {
      margin-top: 12px;
    }

  }
</style>