---
import PostList from "../components/post/PostList.astro";
import UITitle from "../components/ui/UITitle.astro";
import DefaultLayout from "../layouts/StandardLayout.astro"
import type { PostsFrontmatter } from "../types/posts.types";

const contentList = await Astro.glob<PostsFrontmatter>('./tutorial/**.mdx');
const navigationList = contentList.map(item => {
  return {
    url: item.url ?? '',
    title: item.frontmatter.title,
    description: item.frontmatter.description,
    tags: item.frontmatter.tags
  }
});
---


<DefaultLayout>
  <div class="article-page">
    <div class="article-page__title">
      <UITitle>Туториалы</UITitle>
    </div>
    <div class="article-page__list">
      <PostList postList={navigationList} />
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  .article-page {
    &__list {
     margin-top: 32px;
    }
  }
</style>
