// Colorscheme: Gruvbox
// Link: https://github.com/morhetz/gruvbox

:root {
  --clrsc-gruvbox-background: #282828;
  --clrsc-gruvbox-foreground: #fbf1c7;
  
  // Neutral colors
  --clrsc-gruvbox-neutral-100: #3c3836;
  --clrsc-gruvbox-neutral-200: #504945;
  --clrsc-gruvbox-neutral-300: #665c54;
  --clrsc-gruvbox-neutral-400: #7c6f64;
  
  // Accents
  --clrsc-gruvbox-red: #cc241d;
  --clrsc-gruvbox-green: #98971a;
  --clrsc-gruvbox-yellow: #d79921;
  --clrsc-gruvbox-blue: #458588;
  --clrsc-gruvbox-purple: #b16286;
  --clrsc-gruvbox-aqua: #689d6a;
  --clrsc-gruvbox-orange: #d65d0e;
  --clrsc-gruvbox-gray: #928374;
  
  // Alternative accents
  --clrsc-gruvbox-red-alt: #fb4934;
  --clrsc-gruvbox-green-alt: #b8bb26;
  --clrsc-gruvbox-yellow-alt: #fabd2f;
  --clrsc-gruvbox-blue-alt: #83a598;
  --clrsc-gruvbox-purple-alt: #d3869b;
  --clrsc-gruvbox-aqua-alt: #8ec07c;
  --clrsc-gruvbox-orange-alt: #f38019;
  --clrsc-gruvbox-gray-alt: #a89984;
}