// Colorscheme: Tomorrow theme
// Link: https://github.com/morhetz/tomorrow

:root {
  --clrsc-tomorrow-background: #2D2D2D;
  --clrsc-tomorrow-foreground: #CCCCCC;
  
  //

  // Neutral colors
  --clrsc-tomorrow-neutral-100: #3c3836;
  --clrsc-tomorrow-neutral-200: #504945;
  --clrsc-tomorrow-neutral-300: #665c54;
  --clrsc-tomorrow-neutral-400: #7c6f64;

  // Accents
  --clrsc-tomorrow-red: #cc241d;
  --clrsc-tomorrow-green: #98971a;
  --clrsc-tomorrow-yellow: #d79921;
  --clrsc-tomorrow-blue: #458588;
  --clrsc-tomorrow-purple: #b16286;
  --clrsc-tomorrow-aqua: #689d6a;
  --clrsc-tomorrow-orange: #d65d0e;
  --clrsc-tomorrow-gray: #928374;

  // Alternative accents
  --clrsc-tomorrow-red-alt: #fb4934;
  --clrsc-tomorrow-green-alt: #b8bb26;
  --clrsc-tomorrow-yellow-alt: #fabd2f;
  --clrsc-tomorrow-blue-alt: #83a598;
  --clrsc-tomorrow-purple-alt: #d3869b;
  --clrsc-tomorrow-aqua-alt: #8ec07c;
  --clrsc-tomorrow-orange-alt: #f38019;
  --clrsc-tomorrow-gray-alt: #a89984;
}
.editor, .editor .gutter {
}

.editor.is-focused .cursor {
  border-color: #CCCCCC;
}

.editor.is-focused .selection .region {
  background-color: #515151;
}

.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: #393939;
}

.comment {
  color: #999999;
}

.keyword.operator.class, .constant.other, .source.php.embedded.line {
  color: #CCCCCC;
}

.variable, .support.other.variable, .string.other.link, .entity.name.tag, .entity.other.attribute-name, .meta.tag, .declaration.tag, .markup.deleted.git_gutter {
  color: #F2777A;
}

.constant.numeric, .constant.language, .support.constant, .constant.character, .variable.parameter, .punctuation.section.embedded, .keyword.other.unit {
  color: #F99157;
}

.entity.name.class, .entity.name.type.class, .support.type, .support.class {
  color: #FFCC66;
}

.string, .constant.other.symbol, .entity.other.inherited-class, .entity.name.filename, .markup.heading, .markup.inserted.git_gutter {
  color: #99CC99;
}

.keyword.operator, .constant.other.color {
  color: #66CCCC;
}

.entity.name.function, .meta.function-call, .support.function, .keyword.other.special-method, .meta.block-level, .markup.changed.git_gutter {
  color: #6699CC;
}

.keyword, .storage, .storage.type, .entity.name.tag.css {
  color: #CC99CC;
}

.invalid {
  color: #CDCDCD;
  background-color: #F2777A;
}

.meta.separator {
  color: #CDCDCD;
  background-color: #99CCCC;
}

.invalid.deprecated {
  color: #CDCDCD;
  background-color: #CC99CC;
}

.markup.inserted.diff, .markup.deleted.diff, .meta.diff.header.to-file, .meta.diff.header.from-file {
  color: #FFFFFF;
}

.markup.inserted.diff, .meta.diff.header.to-file {
  color: #718c00;
}

.markup.deleted.diff, .meta.diff.header.from-file {
  color: #c82829;
}

.meta.diff.header.from-file, .meta.diff.header.to-file {
  color: #FFFFFF;
  background-color: #4271ae;
}

.meta.diff.range {
  font-style: italic;
  color: #3e999f;
}