---
// Standard composable
import '@/composables/prelude';

// Footer component
import UIFooter from "@@/ui/UIFooter.astro";
import UIHeader from '@@/ui/UIHeader.astro';
import FaviconHead from '@@/favicon/FaviconHead.astro';
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <FaviconHead />
  <title>[Station] KIOTO</title>
</head>
<body>
  <UIHeader />
  <div class="full-layout">
    <slot/>
  </div>
  <UIFooter/>
</body>
</html>

<style>
  body {
    font-family: "JetBrains Mono", monospace;
  }
  
  .full-layout {
    min-height: calc(100vh - (var(--size-footer) + var(--size-header)));
    max-width: 1400px;
    margin: 0 auto;
  }
</style>
