---
// Styles
import '../styles/-colors.scss';
import '../styles/+common.scss';
import '../styles/-breakpoints.scss';
import 'normalize.css';

// Footer component
import UIFooter from "../components/ui/UIFooter.astro";
import UIHeader from '../components/ui/UIHeader.astro';

// Fonts
import '@fontsource/jetbrains-mono';
import '@fontsource/jetbrains-mono/500.css';
import '@fontsource/manrope';
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Astro</title>
</head>
<body>
  <div class="full-layout">
    <UIHeader/>
    <slot/>
    <UIFooter/>
  </div>
</body>
</html>

<style>
  body {
    font-family: "JetBrains Mono", monospace;
  }
  
  .container {
    min-height: 100vh;
  }
</style>
