---

// Styles
import '../styles/-colors.scss';
import '../styles/+common.scss';
import '../styles/-breakpoints.scss';
import 'normalize.css';

// Footer component
import Footer from "../components/ui/UIFooter.astro";

// Fonts
import '@fontsource/jetbrains-mono';
import '@fontsource/jetbrains-mono/500.css';
import '@fontsource/manrope';
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Astro</title>
</head>
<body>
  <div class="standard-layout">
    <slot/>
  </div>
  <Footer />
</body>
</html>

<style lang="scss">
  .standard-layout {
    font-family: "JetBrains Mono", monospace;
    min-height: calc(100vh - 32px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
  }
</style>