@import 'size/spacing';
@import 'size/font';

:root {
  // UI sizes
  --size-footer: 32px;
  --size-header: 84px;

  // Border radius
  --border-radius-100: 0.125rem; // 2px
  --border-radius-200: 0.25rem; // 4px
  --border-radius-300: 0.5rem; // 8px
  --border-radius-400: 1rem; // 16px
}