---
interface Props {
  isWithHover?: boolean;
}

const {isWithHover} = Astro.props;
---

<div
  class:list={[ 'card', {'card_with-hover': isWithHover} ]}
>
  <slot/>
</div>

<style lang="scss">
  .card {
    padding: 12px 24px 18px;
    border: 1px solid var(--neutral);
    border-radius: 4px;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: inherit;
    display: block;
    user-select: none;

    &_with-hover {
      &:hover {
        border-color: var(--neutral-hover);
      }
    }
  }
</style>