---
import UILink from './UILink.astro';

const author = {
  name: 'kiotosi',
  link: 'https://github.com/kiotosi'
};
---
<footer class="footer">
  <div class="footer__contact contact">
    Made with love by
    <UILink className="footer__link" href={author.link}>
      {author.name}
    </UILink>
  </div>
</footer>

<style lang="scss">
  .footer {
    background: var(--neutral);
    width: 100%;
    padding: 8px 12px;
    display: flex;
    justify-content: space-evenly;
  }
</style>