---
import UILogo from './UILogo.vue';
import UILink from './UILink.astro';

const navigation = [
  {
    title: 'Главная',
    link: '/',
  },
  {
    title: 'Статьи',
    link: '/article',
  },
  {
    title: 'Туториалы',
    link: '/tutorial',
  },
  {
    title: 'Об авторе',
    link: '/author',
  },
];
---

<header class="header">
  <div class="header__logo">
    <UILogo />
  </div>
  <nav class="header__navigation navigation">
    <ul class="navigation__list">
      {
        navigation.map(navigationItem => (
            <li class="navigation__item">
              <UILink
                className="navigation__link"
                href={navigationItem.link}
                isActive={Astro.url.pathname.endsWith(navigationItem.link)}
              >
                {navigationItem.title}
              </UILink>
            </li>
          )
        )
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--size-header);
    padding: 0 24px;
  }

  .navigation {
    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 24px;
    }
     
     &__item {
       margin: 0 !important;
     }
  }
</style>