---
interface Props {
  href: string,
  isActive?: boolean
}

const {href, isActive}: Props = Astro.props;
---

<a href={href} class:list={['link', {link_active: isActive}]}>
  <slot />
</a>

<style lang="scss">
  .link {
    text-decoration: none;
    color: var(--link);
    user-select: none;
  
    &::hover {
      opacity: 0.9;
    }
    
    &_active {
       text-decoration: line-through;
       pointer-events: none;
     }
  }
</style>