---
interface Props {
  href: string;
  isActive?: boolean;
  isNewTab?: boolean;
}

const {href, isActive, isNewTab}: Props = Astro.props;
---

<a href={href} target={isNewTab ? '_blank' : '_self'} class:list={['link', {link_active: isActive}]}>
  <slot />
</a>

<style lang="scss">
  .link {
    text-decoration: none;
    color: var(--link);
    user-select: none;
  
    &:hover {
      opacity: 0.9;
    }
    
    &_active {
       text-decoration: line-through;
       pointer-events: none;
     }
  }
</style>