---
interface Props {
  name: string
}
const {name}: Props = Astro.props;
---
<div class="tag">
  <span class="tag__hashtag">#</span>{name}
</div>

<style lang="scss">
  .tag {
    color: var(--neutral-hover);

    &__hashtag {
      color: var(--neutral);
    }
  }
</style>