<div class="text">
  <slot/>
</div>

<style lang="scss">
  .text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
  }
  
  @media screen and (max-width: 420px) {
    .text {
      font-size: 18px;
    }
  }
</style>
